
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt</h2>
<div>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
</div>