
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regulamin</h2>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ipsum ut quam maximus tempus. Duis nec elementum nisi, sit amet rutrum felis. Sed convallis, nunc a sodales faucibus, orci mi semper urna, et ultrices lacus mi in odio. Suspendisse ligula nibh, venenatis placerat ante sit amet, tempus ultrices leo. Ut quis sapien nisi. Pellentesque finibus rutrum elit at posuere. Nullam at interdum libero, quis tristique eros. Sed commodo eu nulla quis dignissim. Quisque ullamcorper pharetra odio. Phasellus vel gravida velit, sit amet vulputate massa. Praesent vel felis suscipit, auctor purus eu, volutpat velit. Quisque nec purus et orci consequat dapibus a sit amet massa. Donec quis rhoncus nulla.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
    <p>
        Nam accumsan porta sem, non ultricies ipsum tincidunt vel. Nam pulvinar mauris a risus molestie accumsan. Nulla porta ante magna, at commodo orci aliquet quis. Morbi et magna dignissim, venenatis leo vel, venenatis mi. Etiam congue sapien vel mollis sagittis. Sed suscipit odio nec urna elementum consequat. Aliquam ultricies viverra est, ac rhoncus nibh rutrum id. Ut ut sapien vitae orci lobortis pulvinar et at ante. Integer porta ligula mi, sed consequat ante posuere quis. Maecenas tempor est id lobortis vehicula. Vestibulum sed scelerisque orci. Nunc at mi vel neque rhoncus elementum eget et leo. Curabitur nec luctus justo.
    </p>
</div>