@model IEnumerable<KursMVC.Models.Kategoria>
@using KursMVC.Infrastructure

<nav class="KategorieVertical">
    <ul>
        @foreach (var kategoria in Model)
        {
        <li>
            <a href="@Url.Action("Lista","Kursy", new { kategoriaID = kategoria.KategoriaID })" 
               style="background-image: url(@Url.PathCategoryIcon(kategoria.NazwaPlikuIkony)); ">
            @kategoria.NazwaKategori</a>
        </li>
        }
    </ul>
</nav>
